# Dependencies
node_modules/
**/node_modules/

# Builds
dist/
dist-ssr/
build/
out/

# Env/secrets
.env
**/*.env

# OS/Editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?